#button{
    position: absolute;
    left: 55px;
    top:220px;
   
    border: solid 1px green;
    height: 90px;
    width: 90px;
    background-color: grey;
}
#button-container{
    position: absolute;
    height: 90px;
    width: 90px;
    
}

#button-container div{
    position: absolute;
    height: 30px;
    width: 30px;

}

#main{
    background-color: green;
    top:30px;
    left: 30px;
}
#menu{
    background-color: white;

    left:30px;
}
#backward{
    top:30px;
    background-color: white;
    
}
#forward{
    top: 30px;
    left: 60px;
    background-color: white;

}
#play-pause{
    top:60px;
    left: 30px;
    background-color: white;

}