.display{
    background-size: cover;
    width: 190px;
    height: 140px;
    margin:10px 5px;
    border-radius: 10px;
    overflow: hidden;
}
.notification-bar{
    position: absolute;
    z-index: 2;
}
#display{
    display: flex;
}
#left-display-container{
    margin-top: 16px;
    /* width: 90px; */
    height: 125px;
    overflow: hidden;

}
#left-display{
    z-index: 1;
    
    /* width: 90px; */
    min-height: 125px;
    overflow: hidden;





}
#right-display{
    background-color: rgba(0, 0, 0, 0.103);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    width: 100px;
    height:125px;
}
#right-image {
    display: flex;
    justify-content: center;
    width: 100px;
    transform: none;
}
#right-info {
    padding-top: 5px;
    text-shadow: 2px 2px 4px black;
    color: white;
    width: 100px;
    font-size: .7rem;
    text-align: center;
}
#right-image img{
    width: 50px;
    object-fit: cover;
}
