@keyframes unlock{
    0%{transform: translateX(0);}
    49.99%{transform: translateX(-200px);}
    50%{transform: translateX(200px);}
    100%{transform: translateX(0);}
}
.lock-menu{
    background-color: rgba(255, 255, 255, 0.493);
    min-width: 190px;
    height: 125px;
    overflow: visible;
    font-size: .7rem;
  
}
#date-time{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#lock-date{

}
#lock-time{
    font-size: 1.5rem;
}

#unlock-info{
    display: flex;
    align-items: center;
    animation-name: unlock;
    animation-duration: 10s;
    animation-delay:0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#unlock-icon{
    width: 15px;
    height: 15px;
}

