.video-menu{
    background-color: rgb(255, 255, 255,0.8);
    
    
}
.video-menu-list-item{
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 25px;
    text-indent: 10px;

    min-width:190px;

}
#icon{
    margin: 0 8px 0 4px;
    width: 12px;
}